.profile-container {
  width: 100%;
  height: 100%;
  padding: 0 40px;
}

.profile-header {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.profile-header a {
  text-decoration: none;
}

.profile-back {
  display: flex;
  align-items: center;
}

.profile-back img {
  width: 35px;
}

.profile-back span {
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;

  margin-left: 15px;
}

.profile-github-name {
  display: flex;
  align-items: center;
}

.profile-github-logo {
  width: 50px;
  margin-right: 30px;
}

.profile-github-text {
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;

  margin-right: 20px;
}

.profile-github-search-text {
  color: #00d8ff;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 10px;
}

.profile-user-info {
  padding: 100px;

  display: flex;
  align-items: center;
}

.profile-image {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  margin-right: 30px;
}

.profile-user-login {
  font-size: 23px;
}

.profile-user-name {
  font-size: 40px;
  font-weight: bold;
  color: #00d8ff;
}

.profile-location-container {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.profile-location-item {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

.profile-location-item img {
  margin-right: 10px;
}

.profile-repo-container {
  display: flex;
}

.profile-repo-info {
  display: flex;
  align-items: center;
  padding: 0 100px;
}

.profile-card-dark {
  width: 315px;
  height: 180px;

  background-color: #201f24;
  border-radius: 10px 0px 0px 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-card-light {
  width: 315px;
  height: 180px;
  margin-right: 70px;

  background-color: #302e36;
  border-radius: 0px 10px 10px 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-repo-container span {
  font-size: 20px;
  margin-bottom: 20px;
}

.profile-repo-container div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-repo-container div img {
  width: 30px;
  margin-right: 20px;
}

.profile-repo-container div strong {
  font-size: 44px;
  font-weight: bold;
}

.profile-repo-icon-fw {
  width: 23px !important;
}
