@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: #121214;
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
}

body,
input,
button {
  font: 16px "Open Sans", sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 40px 20px;
}

button {
  cursor: pointer;
  border: 0;
  outline: 0;
}
